.wrapper{
    min-height:100vh;
}

div.box {
	width: 150px;
	display: inline-block;
   font-size: 16px;
   text-align: center;
}

span{
    font-family: garamond;
}

.cart-table{
    width: 100%;
    border-collapse: collapse;
}

.table-head-item{
    text-align: start;
    border-bottom: 1px solid #959595;
    padding-bottom: 6px;
}

.second-col, .third-col{
    width: 26%;
}

.cart-product td{
    padding: 8px 0;
}

.product-identification{
    display: flex;
    align-items: center;
}

.cart-product-image{
    width: 120px;
    height: 100px;
}

.cart-product-title{
    margin-left: 16px;
    font-size: 18px;
}

.product-qtd-input{
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid #5665dd;
    text-align: center;
    background-color: #eee;
}

.remove-product-button{
    margin-left: 12px;
    padding: 10px 8px;
    border-radius: 6px;
    transition: 0.2s;
}

.remove-product-button:hover{
   filter: brightness(0.8);
}

.cart-total-container{
    border-top: 1px solid #959595;
    text-align: end;
    padding: 6px 16px 0 0;
    font-size: 18px;
}

.purchase-button{
    display: flex;
    margin: 24px auto 0;
}